# Ignore .DS_Store files on MacOS
.DS_Store

# Ignore all files in etc/local
etc/local/*
# But do not ignore the folder itself
!etc/local/.gitkeep

# Ignore all files in var
var/*
# But do not ignore the folder itself
!var/.gitkeep